<p>botones works!</p>


<h1>botones con mensajes al dar click</h1>
<div>
    <h1>
      <p-button label="Primary" [raised]="true" (click)="showMessage('Primary')"></p-button>
      <p-button label="Secondary" [raised]="true" severity="secondary" (click)="showMessage('Secondary')"></p-button>
      <p-button label="Success" [raised]="true" severity="success" (click)="showMessage('Success')"></p-button>
      <p-button label="Info" [raised]="true" severity="info" (click)="showMessage('Info')"></p-button>
      <p-button label="Warning" [raised]="true" severity="warning" (click)="showMessage('Warning')"></p-button>
      <p-button label="Help" [raised]="true" severity="help" (click)="showMessage('Help')"></p-button>
      <p-button label="Danger" [raised]="true" severity="danger" (click)="showMessage('Danger')"></p-button>
      <p-button label="Contrast" [raised]="true" severity="contrast" (click)="showMessage('Contrast')"></p-button>
    </h1>
  
    <p-messages [(value)]="messages"></p-messages>
  </div>
  <hr>
  
<h1>botones coloridos</h1>
<h1> 
  <p-button label="Primary" [raised]="true" />
<p-button label="Secondary" [raised]="true" severity="secondary" [disabled]="true"/>
<p-button label="Success" [raised]="true" severity="success" />
<p-button label="Info" [raised]="true" severity="info" />
<p-button label="Warning" [raised]="true" severity="warning" />
<p-button label="Help" [raised]="true" severity="help" />
<p-button label="Danger" [raised]="true" severity="danger" />
<p-button label="Contrast" [raised]="true" severity="contrast" />
</h1>

<h1>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [text]="true" [raised]="true" />
    <p-button label="Secondary" [text]="true" [raised]="true" severity="secondary" />
    <p-button label="Success" [text]="true" [raised]="true" severity="success" />
    <p-button label="Info" [text]="true" [raised]="true" severity="info" />
    <p-button label="Warning" [text]="true" [raised]="true" severity="warning" />
    <p-button label="Help" [text]="true" [raised]="true" severity="help" />
    <p-button label="Danger" [text]="true" [raised]="true" severity="danger" />
    <p-button label="Plain" [text]="true" [raised]="true" [plain]="true" />
</div>
</h1>

<h1>icono
  <div class="card">
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" />
        <p-button icon="pi pi-bookmark" severity="secondary" />
        <p-button icon="pi pi-search" severity="success" />
        <p-button icon="pi pi-user" severity="info" />
        <p-button icon="pi pi-bell" severity="warning" />
        <p-button icon="pi pi-heart" severity="help" />
        <p-button icon="pi pi-times" severity="danger" />
    </div>
   
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" [rounded]="true" />
        <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" />
        <p-button icon="pi pi-search" [rounded]="true" severity="success" />
        <p-button icon="pi pi-user" [rounded]="true" severity="info" />
        <p-button icon="pi pi-bell" [rounded]="true" severity="warning" />
        <p-button icon="pi pi-heart" [rounded]="true" severity="help" />
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" />
    </div>

    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" [rounded]="true" [outlined]="true" />
        <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" [outlined]="true" />
        <p-button icon="pi pi-search" [rounded]="true" severity="success" [outlined]="true" />
        <p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true" />
        <p-button icon="pi pi-bell" [rounded]="true" severity="warning" [outlined]="true" />
        <p-button icon="pi pi-heart" [rounded]="true" severity="help" [outlined]="true" />
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" />
    </div>
        
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true" />
        <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" [raised]="true" severity="secondary" />
        <p-button icon="pi pi-search" [rounded]="true" [text]="true" [raised]="true" severity="success" />
        <p-button icon="pi pi-user" [rounded]="true" [text]="true" [raised]="true" severity="info" />
        <p-button icon="pi pi-bell" [rounded]="true" [text]="true" [raised]="true" severity="warning" />
        <p-button icon="pi pi-heart" [rounded]="true" [text]="true" [raised]="true" severity="help" />
        <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger" />
    </div>
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" [rounded]="true" [text]="true" />
        <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" severity="secondary" />
        <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success" />
        <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info" />
        <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="warning" />
        <p-button icon="pi pi-heart" [rounded]="true" [text]="true" severity="help" />
        <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />
    </div>
</div>
</h1>
 
<hr>
<h1>links</h1>
<div class="card flex justify-content-center gap-3">
    <p-button label="Link" [link]="true" />
    <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="p-button font-bold">
        External
    </a>
    <a routerLink="/" class="p-button font-bold">
        Router
    </a>
</div>

<hr>
<h1>summit</h1>
<div class="card flex justify-content-center">
    <p-button icon="pi pi-check" />
    <p-button label="Submit" icon="pi pi-check" />
    <p-button label="Submit" icon="pi pi-check" iconPos="right" />
</div>

<h1>severity</h1>
<div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" />
    <p-button label="Secondary" severity="secondary" />
    <p-button label="Success" severity="success" />
    <p-button label="Info" severity="info" />
    <p-button label="Warning" severity="warning" />
    <p-button label="Help" severity="help" />
    <p-button label="Danger" severity="danger" />
    <p-button label="Contrast" severity="contrast" />
</div>

<hr>
<h1>redondeados</h1>
<div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [rounded]="true" />
    <p-button label="Secondary" [rounded]="true" severity="secondary" />
    <p-button label="Success" [rounded]="true" severity="success" />
    <p-button label="Info" [rounded]="true" severity="info" />
    <p-button label="Warning" [rounded]="true" severity="warning" />
    <p-button label="Help" [rounded]="true" severity="help" />
    <p-button label="Danger" [rounded]="true" severity="danger" />
    <p-button label="Contrast" [rounded]="true" severity="contrast" />
</div>

<hr>
<h1>text button</h1>
<div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [text]="true" />
    <p-button label="Secondary" [text]="true" severity="secondary" />
    <p-button label="Success" [text]="true" severity="success" />
    <p-button label="Info" [text]="true" severity="info" />
    <p-button label="Warning" [text]="true" severity="warning" />
    <p-button label="Help" [text]="true" severity="help" />
    <p-button label="Danger" [text]="true" severity="danger" />
    <p-button label="Plain" [text]="true" [plain]="true" />
</div>

<hr>
<h1>bordes</h1>
<div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [outlined]="true" />
    <p-button label="Secondary" [outlined]="true" severity="secondary" />
    <p-button label="Success" [outlined]="true" severity="success" />
    <p-button label="Info" [outlined]="true" severity="info" />
    <p-button label="Warning" [outlined]="true" severity="warning" />
    <p-button label="Help" [outlined]="true" severity="help" />
    <p-button label="Danger" [outlined]="true" severity="danger" />
    <p-button label="Contrast" [outlined]="true" severity="contrast" />
</div>

<hr>
<h1>sizes</h1>
<div class="card flex justify-content-center flex-wrap gap-3 align-items-center">
    <p-button label="Small" icon="pi pi-check" size="small" />
    <p-button label="Normal" icon="pi pi-check" />
    <p-button label="Large" icon="pi pi-check" size="large" />
</div>

<hr>
<h1>Grupo
  <div class="card flex justify-content-center flex-wrap gap-3">
    <p-button label="Emails" badge="2" />
    <p-button 
        label="Messages" 
        icon="pi pi-users" 
        badge="8" 
        badgeClass="p-badge-contrast" 
        outlined="true" />
</div>
</h1>



<!--   
<h1>Split

  <div class="card flex justify-content-center">
    <p-toast />
    <p-splitButton 
        label="Save" 
        (onClick)="save('info')" 
        [model]="items" />
</div>

</h1>
<h1>Split2
  <div class="card flex justify-content-center flex-wrap gap-3">
    <p-toast />
    <p-splitButton 
        label="Primary" 
        [model]="items" 
        (onClick)="save('info')" 
        raised />
    <p-splitButton 
        label="Secondary" 
        [model]="items" 
        (onClick)="save('info')" 
        raised 
        severity="secondary" />
    <p-splitButton 
        label="Success" 
        [model]="items" 
        (onClick)="save('info')" 
        raised 
        severity="success" />
    <p-splitButton 
        label="Info" 
        [model]="items" 
        (onClick)="save('info')" 
        raised 
        severity="info" />
    <p-splitButton 
        label="Warning" 
        [model]="items" 
        (onClick)="save('info')" 
        raised 
        severity="warning" />
    <p-splitButton 
        label="Help" 
        [model]="items" 
        (onClick)="save('info')" 
        raised 
        severity="help" />
    <p-splitButton 
        label="Danger" 
        [model]="items" 
        (onClick)="save('info')" 
        raised 
        severity="danger" />
</div>
</h1>

<h1>Split3
  <div class="card flex justify-content-center">
    <p-toast />
    <p-splitButton 
        label="Save" 
        (onClick)="save('info')" 
        severity="contrast" 
        [model]="items">
            <ng-template pTemplate="content">
                <span class="flex align-items-center font-bold">
                    <img 
                        alt="logo" 
                        src="https://primefaces.org/cdn/primeng/images/logo.svg" 
                        style="height: 1rem; margin-right: 0.5rem" />
                    <span>PrimeNG</span>
                </span>
            </ng-template>
    </p-splitButton>
</div>
</h1>
-->